PORT=8000
S_DB_TYPE=json
DB_PATH=./.gitignored/app.db
S_PATH__DB_JSON=./.gitignored/appdb/
STATIC_DIR=./localhost
S_UUID=bc59b998-2abf-40eb-bf5c-5048f1c8636e
MODEL_CONSTRUCTORS_CLI_LANGUAGES_PATH=./.gitignored/model_constructors/
BIN_PYTHON=python3
PATH_VENV=./venv